#table {
    width: 100%;
    border-collapse: collapse; 
}

#tbody {
    width: 100%;
}

.td-bottum {
    padding: 8px 0 8px 0; 
    border-bottom: 1px solid #ccc; 
}

.tr:nth-child(even) .td-bottum {
    background-color: #f2f2f2; 
}

#sok {
    margin: 10px 0px;
}

input {
    padding: 5px;
    border-radius: 5px;
}

#reverse, #reverse1, #reverse2 {
    cursor: pointer;
}

#table-wrapper {
    overflow-x:auto;
}