<h1>Kurser</h1>

<label for ="sok">Sök</label><br>
<input type="text" id="sok" [(ngModel)]="filteredValue" (input)="applyfilter()">
<table id="table">
    <thead>
        <tr>
            <td id="reverse"><u>Kurskod</u></td>
            <td id="reverse1"><u>Namn</u></td>
            <td id="reverse2"><u>Progression</u></td>
        </tr>
    </thead>
    <tbody id="tbody">
        <tr class="tr" *ngFor="let course of filteredCourses">
            <td class="td-bottum">{{course.code}}</td>
            <td class="td-bottum">{{course.coursename}}</td>
            <td class="td-bottum">{{course.progression}}</td>
        </tr>
    </tbody>
</table>
<div id="error"></div>
